/* The snackbar - position it at the bottom and in the middle of the screen */
#online-status {
    display: none;  /*Don't show the snackbar */
    width: 100%;
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    position: fixed; /* Sit on top of the screen */
    z-index: 2; /* Add a z-index if needed */
    bottom: 0px; /* Default was 30px from the bottom */
  }
  
  /* Show the snackbar on event */
  #online-status.online {
    display: block;  /*Show the snackbar */
    background-color: #acd206; /* Green background color */
  }
  
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #online-status.offline {
    display: block;  /*Show the snackbar */
    background-color: #f67a6e; /* Red background color */
  }
  
  /* Offline overlay */
  #overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);/* Black background with opacity */
    z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }