.content {
    margin: auto;
    padding: 10px;
    padding-top: 50px;
    max-width: 800px;
}

label {
    font-weight: bold;
}

html {
    height: 100%;
}

body{
    font-family: 'Lato', sans-serif;
    color: #888;
    margin: 0;
}

#mainOffline{
    display: table;
    width: 100%;
    height: 100vh;
    text-align: center;
}

.fof{
	  display: table-cell;
	  vertical-align: middle;
}

.fof h1{
	  font-size: 50px;
	  display: inline-block;
	  padding-right: 12px;
}

a {
 color: #428bca;
  text-decoration: none;
  outline: none;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 50px;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
    }

th {
    background-color: #4CAF50;
    color: white;
}

h1 {
    text-align: center;
    margin-bottom: 50px;
}

#btn_reload {
    background-color: #FF6262;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin-bottom: 50px;
    width: 100%;
    font-weight: bold;
}